{
  "extends": "eslint-config-egg",
  "rules": {
    "arrow-parens": ["error", "always"],
    "generator-star-spacing": [
      "error",
      {
        "after": false,
        "before": false
      }
    ],
    "comma-dangle": ["error", "never"],
    "class-methods-use-this": "off",
    "prefer-destructuring": "off",
    "no-unused-vars": ["error", { "args": "none" }],
    "no-continue": "off",
    "array-bracket-spacing": "off"
  }
}
